@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');

body, html {
	height: 100%;
	font-family: 'Dosis', sans-serif;
	color: #fff;
	margin: 0;
}

.btn {
	font-size:20px;
	background-color:#fff;
	padding:20px;
	border-radius: 20px;
	transition: 1s;
}

.wrapper:not(.main) {
	width: 24%;
}

h1 {
	margin:0;
}

.wrapper {
	height:50vh;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:150px;
	flex-direction:column;
	background:#00A5CF;
	border-radius: 20px;
	border: solid .5px;
}

section {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin:30px 0;
}

.main {
	background-color: #E94F37;
	padding-top: 20px;
}

.btn-1Wrapper {
	background-color: #8FB339;
	transition: 1s;
	color: #8FB339;
}

.btn-1Wrapper .btn:hover {
	box-shadow: inset 0 0 0 5px #8FB339;
  border: solid 3px #fff;
}

.btn-2Wrapper {
	background-color: #00A5CF;
	transition: 1s;
	color: #00A5CF;
}

.btn-2Wrapper .btn:hover {
  border-radius: 0px
}

@keyframes bounce {
  50% {
		font-size:30px;
   }
	100% {
		font-size:20px;
	}
}

.btn-4Wrapper {
	background-color: #EE6352;
  color: #EE6352;
}

.btn-4Wrapper .btn:hover {
    animation: bounce 1s;
}

@keyframes wobble {
	25% {
		transform:translateX(4px);
	}

	50% {
		transform:translateX(-5px);
	}
	100% {
		transform:translateX(0px);
	}
}
.btn-5Wrapper {
	background-color: #7DCFB6;
  color: #7DCFB6;
}

.btn-5Wrapper .btn:hover {
    animation: wobble .5s;
}

.btn-3Wrapper {
	background-color: #ED9B40;
	color: #ED9B40;
}

.btn-3Wrapper .btn {
	box-shadow: 0px 6px 0px #888888;
	transition: .2s;
}

.btn-3Wrapper .btn:active {
	transform: translatey(4px);
	box-shadow: 0px 3px 0px #888888;
}

.btn-6Wrapper {
	background-color: #3F88C5;
	color: #3F88C5;
}

.btn-6Wrapper .btn {
	box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, .7),
		inset 0px 6px 1px 1px white,
		inset 0px -6px 1px 1px rgba(204, 198, 197, 0.5);
	transition: .3s;

}

.btn-6Wrapper .btn:active {
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .9),
		inset 0px 6px 1px 1px white,
		inset 0px -6px 1px 1px rgba(204, 198, 197, 0.5);
	transition: .3s;
}

.btn-7Wrapper .btn{
	transition: .6s;
	border-radius: 0;
}

.btn-7Wrapper .btn:hover{
	box-shadow:
		15px -15px rgba(0, 0, 0, .4);
		transform: translatex(-5px) translatey(5px);
}

.btn-8Wrapper {
	background-color: #8bc34a;
	color: #8bc34a;
	perspective: 200px;
}

.btn-8Wrapper .btn {
	transform: rotatex(25deg);
	box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, .7),
		inset 0px 6px 1px 1px white,
		inset 0px -6px 1px 1px rgba(204, 198, 197, 0.5);
	transition: .3s;
}

.btn-8Wrapper .btn:hover {
	transform: rotatex(0deg);
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, .7),
		inset 0px 6px 1px 1px white,
		inset 0px -6px 1px 1px rgba(204, 198, 197, 0.5);
}

.btn-9Wrapper {
	background-color: #9C27B0;
	color: #9C27B0;
}

.btn-9Wrapper .btn {
	transition: .2s;
}

.btn-9Wrapper .btn:hover {
	opacity: .6;
}

.btn-10Wrapper {
	background-color: #EE4266;
	color: #EE4266;
}

@keyframes stretch {
	55% {
		padding:30px 10px;
	}
	75% {
		padding:10px 30px;
		transition:translateY(3px);
	}
	100% {
		padding:20px;
	}
}

.btn-10Wrapper .btn:hover {
	animation: stretch 1.5s alternate;
}

@keyframes bg-color {
	0% {
		background:#E980FC;
	}
	50% {
		background:#B96AC9;
	}
	75% {
		background:#AA4DBC;
	}
	100% {
		background:#C200FB;
	}
}

.btn-11Wrapper {
	background-color: #FDB833;
	color: #FDB833;
}

.btn-11Wrapper .btn:hover {
	animation: bg-color 1s alternate infinite;
}

@keyframes bordersmove {
	0% {
		border-top-left-radius:0;
		border-top-right-radius:20px;
		border-bottom-right-radius:20px;
		border-bottom-left-radius:20px;
	}
	55% {
		border-top-left-radius:20px;
		border-top-right-radius:0px;
		border-bottom-right-radius:20px;
		border-bottom-left-radius:20px;
	}
	75% {
		border-top-left-radius:20px;
		border-top-right-radius:20px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:20px;
	}
	100% {
		border-top-left-radius:20px;
		border-top-right-radius:20px;
		border-bottom-right-radius:20px;
		border-bottom-left-radius:0px;
	}
}

.btn-12Wrapper {
	background-color: #59C9A5;
	color: #59C9A5;
}

.btn-12Wrapper .btn:hover {
	animation: bordersmove 1s alternate infinite;
}
